html,
body,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 100;

}
/*body{
  overflow:inherit;
}*/

.row.row {
    width: 100%;
    height: 100%;
}

/*nav*/

nav {
    background-color:#2f1c47;
    position: fixed;
    color: white;
    height: 65px;
    z-index: 99999;

}

/*landingpage*/
.landing {
    height: auto;
    background-image: url(../img/jonathan-petersson-210341.jpg);
    background-size: cover;
}

#video_overlays {
    position: static;
    float: left;
    width: 100%;
    height: 90.8vh;
    background-color: rgba(7, 7, 7, 0.75);
    z-index: 300000;
    height: 100vh;
}

.landing h3 {
    padding: 20% 0% 0% 0;
}


/*form- search bar*/

form {
    width: 500px;
    margin: 50px auto;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 20px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: white;
}

input:not([type]),
input[type=text]:focus {
    background-color: transparent;
    border: 1px solid #26A69A;
    border-bottom: 1px solid #26A69A;
    border-radius: 20px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: white;
}


/*results page*/

.results {
    padding: 10%;
}

.col.s12.l3.m3.playerbio {
    padding: 10% 0;
}


/* Make sure that padding behaves as expected */

* {
    box-sizing: border-box
}


/* Container for skill bars */

.container {
    width: 100%;
    /* Full width */
    background-color: rgba(239, 33, 33, 0);
    background-color: rgba(105, 104, 104, 0.77);
    border-radius: 25px;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-right: 20px;
    /* Add some right padding */
    line-height: 20px;
    /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: black;
    /* White text color */
}

.html {
    width: 90%;
    background-color: #ccff90;
}


/* Green */

.css {
    width: 80%;
    background-color: #b2ff59;
}


/* Blue */

.js {
    width: 65%;
    background-color: #76ff03;
}


/* Red */

.php {
    width: 60%;
    background-color: #64dd17;
}

.skills {
    border-radius: 25px;
    height: 20px;
    margin: 25px 0px;
}

.skillset {
    padding: 10%;
}

.col.s12.l3.m3.skillset {
    padding: 5% 0%;
}

.playerdata {
    border-radius: 25px;
    height: 60
}

.playerdatalist {
    background: rgba(0, 0, 0, 0.8);
    margin: 3px;
    line-height: 50px;
    padding: 3%;
}

.playerdata h4 {
    background: rgba(0, 0, 0, 0.8);
    /*    border: 1px solid white;
    */
    line-height: 50px;
    padding: 5%;
}

.aboutplayertext h4 {
    color: black;
    line-height: 10px;
}

.aboutplayertext h4,
p {
    padding: 0% 15%;
    color: black;
    line-height: 30px;
}

.aboutplayervideo {
    padding: 15%;
}

.col.s6.l6.m6.aboutplayervideo {
    padding: 5% 3%;
}
/*news*/
.row.news {
    padding: 0 3%;
}
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1518 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1518 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1518 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.snip1518 figcaption {
    padding: 10%;
    padding-bottom: calc(25%);
    background-color: #ffffff;
}

.snip1518 h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1518 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.snip1518 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    padding: 0 20px;
    font-size: 13px;
    line-height: 50px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.snip1518 footer .icons {
    position: absolute;
    right: 20px;
    top: 0;
}

.snip1518 footer .icons>div {
    display: inline-block;
    margin-left: 8px;
}

.snip1518 footer .icons i {
    display: inline-block;
    margin-right: 5px;
    font-size: 1em;
}

.snip1518 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1518 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    font-size: inherit;
}

.snip1518 h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
    color: black;
}


/*login*/

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}

.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content>div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover,
.button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
  }

  footer.page-footer {
      padding-top: 20px;
      background-color: #0c0707;
  }
