html,
body,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 100;
}

.row.row {
    width: 100%;
    height: 100%;
}

.landing {
    height: auto;
    background-image: url(../img/jonathan-petersson-210341.jpg);
    background-size: cover;
}

#video_overlays {
    position: static;
    float: left;
    width: 100%;
    height: 90.8vh;
    background-color: rgba(7, 7, 7, 0.65);
    z-index: 300000;
    height: 100vh;
}

.landing h3 {
    padding: 20% 0% 0% 0;
}


/*form- search bar*/

form {
    width: 500px;
    margin: 50px auto;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 20px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: white;
}

input:not([type]),
input[type=text]:focus {
    background-color: transparent;
    border: 1px solid #26A69A;
    border-bottom: 1px solid #26A69A;
    border-radius: 20px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: white;
}


/*results page*/

.results {
    padding: 10%;
}

.col.s12.l3.m3.playerbio {
    padding: 10% 0;
}


/* Make sure that padding behaves as expected */

* {
    box-sizing: border-box
}


/* Container for skill bars */

.container {
    width: 100%;
    /* Full width */
    background-color: rgba(239, 33, 33, 0);
    background-color: rgba(105, 104, 104, 0.77);
    border-radius: 25px;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-right: 20px;
    /* Add some right padding */
    line-height: 20px;
    /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: black;
    /* White text color */
}

.html {
    width: 90%;
    background-color: #ccff90;
}


/* Green */

.css {
    width: 80%;
    background-color: #b2ff59;
}


/* Blue */

.js {
    width: 65%;
    background-color: #76ff03;
}


/* Red */

.php {
    width: 60%;
    background-color: #64dd17;
}

.skills {
    border-radius: 25px;
    height: 20px;
    margin: 25px 0px;
}

.skillset {
    padding: 10%;
}

.col.s12.l3.m3.skillset {
    padding: 5% 0%;
}

.playerdata {
    border-radius: 25px;
    height: 60
}

.playerdatalist {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid grey;
    margin: 3px;
    line-height: 50px;
}

.playerdata h4 {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    line-height: 50px;
}

.aboutplayertext h4 {
    color: black;
    line-height: 10px;
}

.aboutplayertext h4,
p {
    padding: 0% 15%;
    color: black;
    line-height: 30px;
}

.aboutplayervideo {
    padding: 15%;
}

.col.s6.l6.m6.aboutplayervideo {
    padding: 5% 3%;
}